<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.code %></td>
        <td><%= supplier.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
